body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: initial;
}

h1, h2, h3, h4, h6 {
  color: #444444;
}

h5 {
  color: #00008B;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #26272c;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  font-style: bold;
  border-bottom: 2px solid #e1e1e1
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  margin-top: 2px;
  white-space: pre-line;
}

.article-img {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 1.5rem;
}

footer {
  background-color: #26272c;
}
