{% extends "blog/base.html" %}

{% block footer %}
    <footer class="m-1 pt-5 pb-4 text-center text-small text-dark bg-info sticky-bottom">
      <p class="mb-1">&copy;2019 Levite, Inc. All Rights Reserved</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a> &nbsp;<b>&middot;</b> </li>
        <li class="list-inline-item"><a href="#">Terms</a> &nbsp;<b>&middot;</b> </li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
{% endblock %}